---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import heroImage from '../assets/blog/index.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Home" description="Welcome to my website!" />
		<style>
			article p {
				margin-bottom: 1.4rem;
				font-size: 1rem;
				line-height: 1.85;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
			<img src={heroImage.src} alt="Home" style="width:100%;border-radius:8px;margin-bottom:1.5em;" />
				
			</article>
		</main>
		<Footer />
	</body>
</html>
